<body class="d-flex flex-column min-vh-100">
  <div class="container flex-grow-1">
    <!-- Your main content here -->
  </div>
  <footer class="footer bg-dark py-7">
    <div class="container">
      <span class="text-muted">&copy; DevPage 2024 </span>
    </div>
  </footer>
</body>

<style>
  .footer {
    width: 100%;
    position: relative;
    bottom: 0;
  }
</style>
