<% layout('layouts/boilerplate.ejs') %>
<div class="d-flex align-items-center justify-content-center my-10">
  <div class="text-center">
    <h1 class="display-1 fw-bold"><%= err.statusCode %></h1>
    <p class="fs-3">
      <span class="text-danger">Opps!</span> Something went wrong!.
    </p>
    <p class="lead">The page you’re looking for doesn’t exist.</p>
    <a href="/blogs" class="btn btn-primary">Go Home</a>
  </div>
</div>
